
{% extends 'main.html' %}
{% block body %} class="loading" data-layout="detached" data-layout-config='{"leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": true}'
{% endblock body %}
{% block content %}


 <!-- Pre-loader -->
 <div id="preloader">
    <div id="status">
        <div class="bouncing-loader"><div ></div><div ></div><div ></div></div>
    </div>
</div>
<!-- End Preloader-->


          
          <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-xl-6">
                                <div class="container">
                                    <form method="POST"  enctype="multipart/form-data">
                                      {% csrf_token %}
                                      {% for field in form %}
                                      <label for="projectname">{{field.label}}</label>
                                      {{field}}

                                      {% endfor %}
                                      <input type="submit" class="btn btn-secondary btn-rounded" />
                                    </form>
                                </div>

                               

                               

                            </div> <!-- end col-->

                           
                        </div>
                        <!-- end row -->

                    </div> <!-- end card-body -->
                    <table class="table table-centered mb-0">
                        <thead class="">
                            <tr>
                                <th>Status</th>
                                <th>Created Date</th>
                                <th>User Name</th>


                            </tr>
                        </thead>
                        <tbody>
                            {% for sr_log in SrLogs %}
                            <tr>
                              
                                <td>{{sr_log.SR_LOG_Status}}</td>
                                <td>{{sr_log.SRA_Created}}</td>
                                <td>{{sr_log.SR_LOG_User}}</td>

                            
                            </tr>
                            {% endfor %}
                           
                        </tbody>
                    </table>
                    

                </div> <!-- end card-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->







{% endblock %}