{% extends 'main.html' %}
{% block body %} class="loading" data-layout="detached" data-layout-config='{"leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": true}'
{% endblock body %}
{% block content %}


      
 <!-- Pre-loader -->
 <div id="preloader">
    <div id="status">
        <div class="bouncing-loader"><div ></div><div ></div><div ></div></div>
    </div>
</div>
<!-- End Preloader-->



<div class="row" style="margin-left: auto;
margin-right: auto;">
    <div class="col-md-4" style="margin-left: auto;
    margin-right: auto;">
                <br/>
                <h2>Report Bug</h2>
                <br/>
                    <form method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <label for="projectname">{{field.label}}</label>
                        {{field}}
                        
                        {% endfor %}
                      <br><input type="submit" class="btn btn-secondary btn-rounded" />
                      </form>
                </div>
             
          </div>
          <br/>
          <br/>
          <!-- end row-->


          {% include 'footer.html' %}

{% endblock %}