{% extends 'main.html' %}
{% load static %}
{% block body %}class="loading" data-layout="detached" data-layout-config='{"leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": true}'
{% endblock body %}
{% block content %}


 <!-- Pre-loader -->
 <div id="preloader">
    <div id="status">
        <div class="bouncing-loader"><div ></div><div ></div><div ></div></div>
    </div>
</div>
<!-- End Preloader-->


 <!-- project card -->
 <div class="card d-block">
  <div class="card-body">
 
      <!-- project title-->
      <h3 class="mt-0">
        {{obj.CuRes_ID.user.first_name}}
      </h3>
<br/>
      <h5>Request Details:</h5>

      <p class="text-muted mb-2">
        {{obj.SR_Description|linebreaks}}
      </p>

      <div class="row" style="margin-left: auto;
      margin-right: auto;">
          <h5>Website Link: <span style="color: cornflowerblue;">{{obj.SR_URL}}</span></h5>
      </div>
  

      <div class="row" style="margin-left: auto;
      margin-right: auto;">
          <div class="col-md-4">
              <div class="mb-4">
                  <h5>Posted Date</h5>
                  <p>{{obj.SR_Created}}</p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="mb-4">
                <h5>Sector</h5>
                <p>{{obj.CuRes_ID.CuRes_organization_Sector}}</p>
              </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
                <h5>Number of participants</h5>
                <p>
                    {{obj_SRP.all|length}}
                    

                    </p>
                    <br/>
            </div>
        </div>

          <div class="col-md-6" style="margin-left: auto;
          margin-right: auto;">
              <div class="mb-4">

                <table class="table table-centered mb-0">
                    <thead>
                        <tr>
                            <th class="mdi mdi-circle text-success">Low</th>
                            <th class="mdi mdi-circle text-info">Meduim</th>
                            <th class="mdi mdi-circle text-warning">High</th>
                            <th class="mdi mdi-circle text-danger" >Crtical</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i ></i>{{obj.SR_Low_Award}} R.O</td>
                            <td><i ></i>{{obj.SR_Medium_Award}} R.O</td>
                            <td><i ></i>{{obj.SR_High_Award}} R.O</td>
                            <td><i ></i>{{obj.SR_Critical_Award}} R.O</td>

                        </tr>
                      
                    </tbody>
                </table>
                
                
              </div>
          </div>
      </div>

      

<div class="row" style="margin-left: auto;
margin-right: auto; background-color:whitesmoke;">
    <div class="col-md-3" style="margin-left: auto;
    margin-right: auto;">
      <div class="custom-file">
        <div class="mb-4">


          {% if request.user.last_name == 'cy' %}
          <h1>Submit Report</h1><br/> {% endif %}
        </div>
      </div>
    </div>
        </div>

        
        {% if request.user.last_name == 'cy' %}
        <form method="POST" enctype="multipart/form-data" action="">   
          {% csrf_token %}      
<div class="row" style="margin-left: auto;
margin-right: auto; background-color:whitesmoke;">
    <!-- <div class="col-md-3" style="margin-left: auto;
    margin-right: auto;"> -->
        <div class="col-lg-3" style="margin-left: auto;
    margin-right: auto;">
    <h3>1.Severity(Optional)</h3>



    {% for field in form %}

    {% if forloop.counter > 3 %}
    <label for="IDofInput">{{field.label}}</label>
    {{field}}
    <br/>
    {% endif %}
    {% endfor %}

    <br/>


  



    </div>
    <div class="col-lg-3" style="margin-left: auto;
    margin-right: auto;">
        <h3>2.Report Details</h3>

  {% for field in form %}

  {% if forloop.counter < 4 %}
  <label for="IDofInput">{{field.label}}</label> 
  {{field}}
  {% endif %}
  {% endfor %}
  <br/><br/>
  <button type="submit" class="btn btn-outline-success btn-block  btn-rounded"><i class="uil-cloud-computing"></i> Submit</button>
  
</div>
  
  <div class="col-lg-3" style="margin-left: auto;
  margin-right: auto;">
  <h3>Description sample</h3>
<p>## Summary:</p>
<p>[add summary of the vulnerability]</p>
<p>&nbsp;</p>
<p>## Steps To Reproduce:</p>
<p>[add details for how we can reproduce the issue]</p>
<ol>
<li>[add step]</li>
<li>[add step]</li>
<li>[add step]</li>
</ol>
<p>##Do you believe that the vulnerability is exploited ? (Yes/No)</p>
<p>##<b>(Optional)</b>List the unique identifier of the discovered vulnerability e.g: CVE - #####</p>
<p>##<b>(Optional)</b>Workaround if any.</p>
<p>## Supporting Material/References:</p>
<p>[list any additional material (e.g. screenshots, logs, etc.)]</p>
<!-- <p>&nbsp;</p> -->
<p>##Impact</p>
<!-- <p>&nbsp; * [attachment / reference]</p>   -->
</div>
</div>
</form>
{% endif %}


</div> <!-- end card-body-->
  
</div> <!-- end card-->



<!-- plugin js -->
<script src="{% static 'assets/js/vendor/dropzone.min.js' %}"></script>
<!-- init js -->
<script src="{% static 'assets/js/ui/component.fileupload.js' %}"></script>
{% include 'footer.html' %}

{% endblock %}